h1{
  font-family: 'Changa';
  color: #D0EA00;
  text-shadow: 0px 4px 6px #2d333d;
  font-size: 35px;
  margin-top: 20px;
  font-weight: bold;
  letter-spacing: 3px
}

body{
  font-family: 'Roboto Mono';
  background-color:#f4f4fb;
  font-weight: 300;
  color: #1c2366;
  margin: 0;
}

a{
  color: #1c2366;
  text-decoration: none
}

li{
  display: inline-block
}

h4 {
  font-size: large;
  font-weight: 300;
  color: #dbeef6;
}

ul {
  padding-left: 0;
}

#banner{
  background-size: cover !important;
  /*align-items: center;*/
  padding: 50px;
  background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(images/banner-jch.png);
  background-color: #1c2366;
}


#banner a{
  margin: 15px;
}

.white-box{
  background-color: #cad7d940;
  box-shadow: 0px 2px 4px #80808057;
  padding:30px;
  width: 75%;
  /*align-self: center;*/
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 3px;
}

.white-box p {
  letter-spacing: .5px;
  line-height: 25px;
}

.social-media{
  text-align: center
}

.social-media li{
  padding-right: 10px;
}

a:hover{
  font-size: 20px;
  font-weight: bold;
  color: #1c2366;
}

.gif{
  width: 195px;
  height: 215px;
  margin:0 auto;
}

.box{
  box-shadow: 0px 4px 10px #cdcdcd;
  padding:30px;
  margin: 10px;
  border-radius: 3px;
  background-color: #fbfdffbf;
}

.box-text{
  margin-top: 20px;
}

.box a{
  text-decoration: none
}

.highlight {
  background: #1c2366;
  color: #D0EA00;
  padding: 10px;
}

.highlight:hover{
  color: #D0EA00;
  font-weight: bold
}

.boxes{
  margin-bottom: 60px;
}

.my-img {
  width: 160px;
}

.footer{
  background-color: #1c2366;
  height: 100%;
  width: 100%;
  padding: 20px;
  color: #fff;
}

.footer a{
  color: #D0EA00;
  text-decoration: none
}
